@charset "utf-8";
/* svg */
#icon-giadung_quickmenu .path1 {fill: rgb(177, 113, 43);}
#icon-giadung_quickmenu .path2 {  fill: rgb(255, 255, 255);}
#icon-giadung_quickmenu .path3 {  fill: rgb(255, 255, 255);}
#icon-mebe_quickmenu .path1 {  fill: rgb(242, 104, 34);}
#icon-mebe_quickmenu .path2 {  fill: rgb(255, 255, 255);}
#icon-mebe_quickmenu .path3 {  fill: rgb(255, 255, 255);}
#icon-mebe_quickmenu .path4 {  fill: rgb(255, 255, 255);}
#icon-mebe_quickmenu .path5 {  fill: rgb(255, 255, 255);}
#icon-mebe_quickmenu .path6 {  fill: rgb(255, 255, 255);}
#icon-mebe_quickmenu .path7 {  fill: rgb(255, 255, 255);}
#icon-mebe_quickmenu .path8 {  fill: rgb(255, 255, 255);}
#icon-mebe_quickmenu .path9 {  fill: rgb(255, 255, 255);}
#icon-mypham_quickmenu .path1 {fill: rgb(240, 120, 175);}
#icon-mypham_quickmenu .path2 {fill: rgb(255, 255, 255);}
#icon-mypham_quickmenu .path3 {fill: rgb(255, 255, 255);}
#icon-phukiencongnghe_quickmenu .path1 {fill: #0197ff;}
#icon-phukiencongnghe_quickmenu .path2 {fill: rgb(255, 255, 255);}
#icon-sendo_quickmenu .path1 { fill: rgb(237, 51, 39);}
#icon-sendo_quickmenu .path2 {  fill: rgb(255, 255, 255);}
#icon-sendo_quickmenu .path3 {  fill: rgb(255, 255, 255);}
#icon-sendo_quickmenu .path4 {  fill: rgb(255, 255, 255);}
#icon-taikhoan_quickmenu .path1 {fill: rgb(119, 119, 119);}
#icon-taikhoan_quickmenu .path2 {  fill: rgb(255, 255, 255);}
#icon-thethao_quickmenu .path1 {fill: rgb(30, 166, 74);}
#icon-thethao_quickmenu .path2 {fill: rgb(255, 255, 255);}
#icon-thoitrangnam_quickmenu .path1 { fill: rgb(48, 69, 125);}
#icon-thoitrangnam_quickmenu .path2 {  fill: rgb(255, 255, 255);}
#icon-thoitrangnu_quickmenu .path1 {fill: rgb(239, 74, 119);}
#icon-thoitrangnu_quickmenu .path2 {fill: rgb(255, 255, 255);}
#icon-thoitrangnu_quickmenu .path3 {fill: rgb(255, 255, 255);}
#icon-thucpham_quickmenu .path1 {fill: rgb(207, 32, 49);}
#icon-thucpham_quickmenu .path2 {fill: rgb(255, 255, 255);}
#icon-thucpham_quickmenu .path3 {fill: rgb(255, 255, 255);}
#icon-car .path1 {fill: rgb(33, 162, 73);}
#icon-car .path2 {fill: rgb(33, 162, 73);}
#icon-car .path3 {fill: rgb(33, 162, 73);}
#icon-car .path4 {fill: rgb(33, 162, 73);}
#icon-car .path5 {fill: rgb(255, 255, 255);}
#icon-diemsen .path1 {fill: currentcolor;}
#icon-diemsen .path2 {fill: currentcolor;}
#icon-diemsen .path3 {  fill: currentcolor;}
#icon-diemsen .path4 {  fill: currentcolor;}
#icon-diemsen .path5 {  fill: currentcolor;}
#icon-diemsen .path6 {  fill: currentcolor;}
#icon-favorite2 .path1 {fill: currentcolor;}
#icon-favorite2 .path2 {fill: currentcolor;}
#icon-khiensen .path1 {  fill: rgb(229, 16, 29);}
#icon-khiensen .path2 {  fill: rgb(255, 255, 255);}
#icon-khiensen .path3 {  fill: rgb(255, 255, 255);}
#icon-khiensen .path4 {  fill: rgb(255, 255, 255);}
#icon-khiensen .path5 {  fill: rgb(255, 255, 255);}
#icon-khiensen .path6 {  fill: rgb(255, 255, 255);}
#icon-khiensen .path7 {  fill: rgb(255, 255, 255);}
#icon-Rating-Feedback .path1 {  fill: currentcolor;}
#icon-shopping .path1 {  fill: currentcolor;}
#icon-arrowupdown .path1 {  fill: currentcolor;}
#icon-arrowupdown .path2 {  fill: currentcolor;}
#icon-LOGOSENDO .path1 {  fill: currentcolor;}
#icon-LOGOSENDO .path2 {  fill: currentcolor;}
#icon-LOGOSENDO .path3 {  fill: currentcolor;}
#icon-LOGOSENDO .path4 {  fill: currentcolor;}
#icon-LOGOSENDO .path5 {  fill: currentcolor;}
#icon-LOGOSENDO .path6 {  fill: currentcolor;}
#icon-LOGOSENDO .path7 {  fill: currentcolor;}
#icon-LOGOSENDO .path8 {  fill: currentcolor;}
#icon-LOGOSENDO .path9 {  fill: currentcolor;}
#icon-LOGOSENDO .path10 {  fill: currentcolor;}
#icon-LOGOSENDO .path11 {  fill: currentcolor;}
#icon-LOGOSENDO .path12 {  fill: currentcolor;}
#icon-LOGOSENDO .path13 {  fill: currentcolor;}
#icon-LOGOSENDO .path14 {  fill: currentcolor;}
#icon-favorite2 .path1 {  fill: currentcolor;}
#icon-favorite2 .path2 {  fill: currentcolor;}
#icon-brand .path1 {  fill: rgb(255, 139, 32);}
#icon-brand .path2 {  fill: rgb(255, 139, 32);}
#icon-brand .path3 {  fill: rgb(255, 139, 32);}
#icon-brand .path4 {  fill: rgb(255, 139, 32);}
#icon-brand .path5 {  fill: rgb(255, 139, 32);}
#icon-brand .path6 {  fill: rgb(255, 139, 32);}
#icon-brand .path7 {  fill: rgb(255, 139, 32);}
#icon-brand .path8 {  fill: rgb(255, 139, 32);}
#icon-brand .path9 {  fill: rgb(255, 139, 32);}
#icon-brand .path10 {  fill: rgb(255, 139, 32);}
#icon-brand .path11 {  fill: rgb(255, 139, 32);}
#icon-brand .path12 {  fill: rgb(255, 139, 32);}
#icon-brand .path13 {  fill: rgb(255, 139, 32);}
#icon-brand .path14 {  fill: rgb(255, 139, 32);}
#icon-brand .path15 {  fill: rgb(255, 139, 32);}
#icon-brand .path16 {  fill: rgb(255, 139, 32);}
#icon-brand .path17 {  fill: rgb(255, 139, 32);}
#icon-brand .path18 {  fill: rgb(255, 139, 32);}
#icon-brand .path19 {  fill: rgb(255, 139, 32);}
#icon-brand .path20 {  fill: rgb(255, 139, 32);}
#icon-brand .path21 {  fill: rgb(255, 139, 32);}
#icon-brand .path22 {  fill: rgb(255, 139, 32);}
#icon-brand .path23 {  fill: rgb(255, 139, 32);}
#icon-brand .path24 {  fill: rgb(255, 139, 32);}
#icon-brand .path25 {  fill: rgb(255, 139, 32);}
#icon-brand .path26 {  fill: rgb(255, 139, 32);}
#icon-brand .path27 {  fill: rgb(255, 139, 32);}
#icon-brand .path28 {  fill: rgb(255, 139, 32);}
#icon-brand .path29 {  fill: rgb(227, 35, 35);}
#icon-brand .path30 {  fill: rgb(162, 31, 38);}
#icon-brand .path31 {  fill: rgb(227, 35, 35);}
#icon-brand .path32 {  fill: rgb(162, 31, 38);}
#icon-brand .path33 {  fill: rgb(227, 35, 35);}
#icon-brand .path34 {  fill: rgb(255, 139, 32);}  
#icon-LOGOFPT .path1 {  fill: rgb(5, 80, 159);}
#icon-LOGOFPT .path2 {  fill: rgb(5, 80, 159);}
#icon-LOGOFPT .path3 {  fill: rgb(242, 113, 35);}
#icon-LOGOFPT .path4 {  fill: rgb(80, 183, 72);}
#icon-LOGOFPT .path5 {  fill: rgb(255, 255, 255);}
#icon-LOGOFPT .path6 {  fill: rgb(255, 255, 255);}
#icon-LOGOFPT .path7 {  fill: rgb(255, 255, 255);}
#icon-arrow_huongdan .path1 { fill: currentcolor;}
#icon-arrow_huongdan .path2 {  fill: currentcolor;}
#icon-cacbuocmuahang {  width: 32px;  height: 32px;}
#icon-cacbuocmuahang .path1 {  fill: rgb(234, 90, 99);}
#icon-cacbuocmuahang .path2 {  fill: rgb(255, 255, 255);}
#icon-cacbuocmuahang .path3 {  fill: rgb(255, 255, 255);}
#icon-cacbuocmuahang .path4 {  fill: rgb(255, 255, 255);}
#icon-cacbuocmuahang .path5 {  fill: rgb(255, 255, 255);}
#icon-cacbuocmuahang .path6 {  fill: rgb(255, 255, 255);}
#icon-cacbuocmuahang .path7 {  fill: rgb(255, 255, 255);}
#icon-cacbuocmuahang .path8 {  fill: rgb(255, 255, 255);}
#icon-cacbuocmuahang .path9 {  fill: rgb(255, 255, 255);}
#icon-cachthucthanhtoan .path1 {  fill: rgb(86, 125, 190);}
#icon-cachthucthanhtoan .path2 {  fill: rgb(255, 255, 255);}
#icon-cachthucthanhtoan .path3 {  fill: rgb(255, 255, 255);}
#icon-phuongthucvanchueyn .path1 {  fill: rgb(107, 190, 84);}
#icon-phuongthucvanchueyn .path2 {  fill: rgb(255, 255, 255);}
#icon-phuongthucvanchueyn .path3 {  fill: rgb(255, 255, 255);}
#icon-phuongthucvanchueyn .path4 {  fill: rgb(255, 255, 255);}
#icon-phuongthucvanchueyn .path5 {  fill: rgb(255, 255, 255);}
#icon-phuongthucvanchueyn .path6 {  fill: rgb(255, 255, 255);}
#icon-shop .path1{fill: currentcolor;}
#icon-arrow .path1 {fill: currentcolor;}
#icon-location .path1 {fill: currentcolor;}
#icon-buy .path1 {fill: currentcolor;}
#icon-car .path1 {fill: rgb(33, 162, 73);}
#icon-car .path2 {fill: rgb(33, 162, 73);}
#icon-car .path3 {fill: rgb(33, 162, 73);}
#icon-car .path4 {fill: rgb(33, 162, 73);}
#icon-car .path5 {fill: rgb(255, 255, 255);}
#icon-khiensen .path1 {fill: rgb(229, 16, 29);}
#icon-khiensen .path2 {fill: rgb(255, 255, 255);}
#icon-khiensen .path3 {fill: rgb(255, 255, 255);}
#icon-khiensen .path4 {fill: rgb(255, 255, 255);}
#icon-khiensen .path5 {fill: rgb(255, 255, 255);}
#icon-khiensen .path6 {fill: rgb(255, 255, 255);}
#icon-khiensen .path7 {fill: rgb(255, 255, 255);}
#icon-diemthuong .path1 {fill: currentcolor;}
#icon-diemthuong .path2 {fill: currentcolor;}
#icon-diemthuong .path3 {fill: currentcolor;}
#icon-diemthuong .path4 {fill: currentcolor;}
#icon-diemthuong .path5 {fill: currentcolor;}
#icon-diemthuong .path6 {fill: currentcolor;}
.icon-top {width: 32px;height: 32px;}
#icon-top .path1 {fill: rgb(255, 255, 255);}
#icon-top .path2 {fill: rgb(229, 16, 29);}
#icon-top .path3 {fill: rgb(229, 16, 29);}
#icon-luotmua .path1 {fill: currentcolor;}
#icon-diemtichluy .path1 {fill: currentcolor;}
#icon-diemtichluy .path2 {fill: currentcolor;}
#icon-diemtichluy .path3 {fill: currentcolor;}
#icon-diemtichluy .path4 {fill: currentcolor;}
#icon-diemtichluy .path5 {fill: currentcolor;}
#icon-diemtichluy .path6 {fill: currentcolor;}
#icon-a_remove .path1 {fill: currentcolor;}
#icon-a_add .path1 {fill: currentcolor;}
#icon-a_add .path2 {fill: currentcolor;}
#icon-iconwatch-oject .icon-clock {fill: currentColor;}
.fill-color1 {  fill: #0555a5;}
.fill-color2 {  fill: #e41e26;}
.fill-color3 {  fill: #666;}
.fill-color4 {  fill: #fff;}
#icon-khonggiansong-bg .fill-color3 {fill: #fff;}
#icon-khonggiansong-bg .fill-color2 {fill: #a9b900;}
#icon-dodien-bg .fill-color3 {fill: #fff;}
#icon-dodien-bg .fill-color1 {fill: #009893;}
#icon-car-white .fill-color1 {fill: #21a249;}
#icon-car-white .fill-color2 {fill: #fff;}
#icon-question .path1{fill: currentcolor;}
#icon-category-toy .fill-color4 {fill: #45c2c7;}
#icon-category-toy .fill-color5 {fill: #fff;}
#icon-toy-stoke-grey .fill-color1 {fill: #757575;}
/*#icon-phukiencongnghe2_stroke_quickmenu .fill-color1,*/
#icon-phukiencongnghe3_quickmenu .fill-color6 {fill: #ee4054;}
#icon-phukiencongnghe3_quickmenu.fill-color7 {fill: #fff;}
#icon-giay1_stroke_quickmenu .fill-color1 {fill: #757575;}
#icon-giay1_stroke_quickmenu .fill-color3 {fill: #999;}
#icon-giaydep .fill-color2 {fill: #f3b516;}
#icon-giaydep .fill-color4 {fill: #fff;}
#icon-tuixach2_stroke_quickmenu .path1, #icon-tuixach2_stroke_quickmenu .path2,
#icon-tuixach2_stroke_quickmenu .path3, #icon-tuixach2_stroke_quickmenu .path4,
#icon-tuixach2_stroke_quickmenu .path5 {fill: #757575;}

#icon-event1 .path1, #icon-event1 .path2, #icon-event1 .path3, #icon-event1 .path4, #icon-event1 .path5, #icon-event1 .path6, 
#icon-event1 .path7, #icon-event1 .path8, #icon-event1 .path9 {fill: #fff;}
#icon-groceries-icon  {fill: rgb(54, 200, 144);}
#icon-TTNC_icon  {fill: #af1900;}