<!-- V2.4 -->
<!--footer-->
<div id="footer">
  <!--NAV-FOOTER-->
  <div class="nav-footer home">
    <div class="cont-nav-footer container">
              <div class="cont-nav-left  ">
          <div class="block-nav">
  <ul>
    <li>
      <h4><a href="https://www.sendo.vn/thoi-trang-nu/" class="title">Thời trang nữ</a></h4>
    </li>
    <li><a href="https://www.sendo.vn/thoi-trang-nu/dam/">Đầm, váy</a> </li>
    <li><a href="https://www.sendo.vn/thoi-trang-nu/ao-nu/">Áo nữ</a></li>
  </ul>
</div>

<div class="block-nav">
  <ul>
    <li>
      <h4><a href="https://www.sendo.vn/giay-dep/" class="title">Giày dép</a></h4>
    </li>
    <li><a href="https://www.sendo.vn/giay-dep/giay-nam/giay-sneaker-nam/">Giày Sneaker nam</a> </li>
    <li><a href="https://www.sendo.vn/giay-dep/giay-nam/giay-luoi-giay-moi-nam/">Giày lười, giày mọi nam</a></li>
  </ul>
</div>

<div class="block-nav">
  <ul>
    <li>
      <h4><a href="https://www.sendo.vn/thoi-trang-nam/" class="title">Thời trang nam</a></h4>
    </li>
    <li><a href="https://www.sendo.vn/thoi-trang-nam/ao-khoac/">Áo khoác nam</a></li>
    <li><a href="https://www.sendo.vn/thoi-trang-nam/ao-nam/">Áo thun, áo polo nam</a></li>      
  </ul>
</div>

<div class="block-nav">
  <ul>
    <li>
      <h4><a href="https://www.sendo.vn/me-va-be/" class="title">Mẹ &amp; bé</a></h4>
    </li>
    <li><a href="https://www.sendo.vn/me-va-be/thoi-trang-be-gai/">Thời trang bé gái</a></li>
    <li><a href="https://www.sendo.vn/me-va-be/do-dung-cho-me-truoc-khi-sinh/">Đồ dùng cho mẹ trước khi sinh</a></li>
  </ul>
</div>

<div class="block-nav">
  <ul>
    <li>
      <h4><a href="https://www.sendo.vn/dong-ho-phu-kien/" class="title">Đồng hồ</a></h4>
    </li>
    <li><a href="https://www.sendo.vn/dong-ho-phu-kien/dong-ho-nam/dong-ho-kim/">Đồng hồ kim nam</a></li>
    <li><a href="https://www.sendo.vn/dong-ho-phu-kien/dong-ho-khac/dong-ho-thong-minh/">Đồng hồ thông minh</a></li>
  </ul>
</div>

<div class="block-nav">
  <ul>
    <li>
      <h4><a href="https://www.sendo.vn/my-pham/" class="title">Sức khỏe &amp; làm đẹp</a></h4>
    </li>
    <li><a href="https://www.sendo.vn/my-pham/cham-soc-da-nu/">Chăm sóc da nữ</a></li>
    <li><a href="https://www.sendo.vn/my-pham/nuoc-hoa/">Nước hoa</a></li>
  </ul>
</div>

<div class="block-nav">
  <ul>
    <li>
      <h4><a href="https://www.sendo.vn/thoi-trang-nu/phu-kien/" class="title">Phụ kiện thời trang</a></h4>
    </li>
    <li><a href="https://www.sendo.vn/thoi-trang-nu/trang-suc/">Trang sức nữ</a></li>
    <li><a href="https://www.sendo.vn/thoi-trang-nu/phu-kien/kinh-nu/">Kính</a></li>
  </ul>
</div>

<div class="block-nav">
  <ul>
    <li>
      <h4><a href="https://www.sendo.vn/tui-xach/" class="title">Túi xách</a></h4>
    </li>
    <li><a href="https://www.sendo.vn/tui-xach/balo/">Balo</a></li>
    <li><a href="https://www.sendo.vn/tui-xach/tui-xach-nu/">Túi xách nữ</a></li>
  </ul>
</div>

<div class="block-nav">
  <ul>
    <li>
      <h4><a class="title" href="https://www.sendo.vn/phu-kien-cong-nghe/">Phụ kiện công nghệ</a></h4>
    </li>
    <li><a href="https://www.sendo.vn/phu-kien-cong-nghe/thiet-bi-am-thanh/">Thiết bị âm thanh</a></li>
    <li><a href="https://www.sendo.vn/phu-kien-cong-nghe/phu-kien-dien-thoai-may-tinh-bang/">Phụ kiện Điện thoại, Tablet</a></li>
  </ul>
</div>

<div class="block-nav">
  <ul>
    <li>
      <h4><a href="https://www.sendo.vn/cong-nghe/" class="title">Công nghệ</a></h4>
    </li>
    <li><a href="https://www.sendo.vn/cong-nghe/thiet-bi-di-dong/dien-thoai-di-dong/">Điện thoại di động</a></li>
    <li><a href="https://www.sendo.vn/cong-nghe/thiet-bi-di-dong/may-tinh-bang/">Máy tính bảng</a></li>
  </ul>
</div>

<div class="block-nav">
  <ul>
    <li>
      <h4><a href="https://www.sendo.vn/do-dung-trong-nha/" class="title">Đồ dùng trong nhà</a></h4>
    </li>
    <li><a href="https://www.sendo.vn/do-dung-trong-nha/do-dung-sinh-hoat/">Đồ dùng sinh hoạt</a> </li>
    <li><a href="https://www.sendo.vn/do-dung-trong-nha/do-dung-nau-bep/"> Đồ dùng nấu bếp</a></li>
  </ul>
</div>

<div class="block-nav">
  <ul>
    <li>
      <h4><a href="https://www.sendo.vn/do-dien-gia-dung/" class="title">Đồ điện gia dụng</a></h4>
    </li>
    <li><a href="https://www.sendo.vn/do-dien-gia-dung/thiet-bi-nha-bep-che-bien/">Thiết bị nhà bếp, chế biến</a></li>
    <li><a href="https://www.sendo.vn/do-dien-gia-dung/thiet-bi-chieu-sang/">Thiết bị chiếu sáng</a></li>
  </ul>
</div>


<div class="block-nav">
  <ul>
    <li>
      <h4><a class="title" href="https://www.sendo.vn/tivi-thiet-bi-giai-tri/">Tivi thiết bị giải trí</a></h4>
    </li>
    <li><a href="https://www.sendo.vn/tivi-thiet-bi-giai-tri/tivi/">Tivi</a></li>
    <li><a href="https://www.sendo.vn/tivi-thiet-bi-giai-tri/he-thong-giai-tri-tai-gia/">Hệ thống giải trí tại gia</a></li>
  </ul>
</div>

<div class="block-nav">
  <ul>
    <li>
      <h4><a href="https://www.sendo.vn/may-anh-may-quay-phim/" class="title">Máy ảnh, Máy quay phim</a></h4>
    </li>
    <li><a href="https://www.sendo.vn/may-anh-may-quay-phim/may-anh-du-lich/">Máy ảnh du lịch</a></li>
    <li><a href="https://www.sendo.vn/may-anh-may-quay-phim/may-quay-phim-may-quay-hanh-dong/">Máy quay phim</a></li>
  </ul>
</div>


<div class="block-nav">
  <ul>
    <li>
      <h4><a href="https://www.sendo.vn/o-to-xe-may/" class="title">Ô tô - Xe máy</a></h4>
    </li>
    <li><a href="https://www.sendo.vn/o-to-xe-may/thiet-bi-so-cho-o-to/">Thiết bị số ô tô</a> </li>
    <li><a href="https://www.sendo.vn/o-to-xe-may/phu-kien-xe-may/">Phụ kiện xe máy</a></li>
  </ul>
</div>
<div class="block-nav">
  <ul>
    <li>
      <h4><a href="https://www.sendo.vn/sach-van-phong-pham/" class="title">Sách</a></h4>
    </li>
    <li><a href="https://www.sendo.vn/sach-van-phong-pham/van-phong-pham/">Văn phòng phẩm</a></li>
    <li><a href="https://www.sendo.vn/sach-van-phong-pham/sach-van-hoc-tieu-thuyet/">Văn học - tiểu thuyết</a></li>
  </ul>
</div>


<div class="block-nav">
  <ul>
    <li>
      <h4><a class="title" href="https://www.sendo.vn/thiet-bi-y-te/">Thiết bị y tế</a></h4>
    </li>
    <li><a href="https://www.sendo.vn/thiet-bi-y-te/cham-soc-suc-khoe/">Chăm sóc sức khỏe</a></li>
    <li><a href="https://www.sendo.vn/thiet-bi-y-te/thiet-bi-massage/">Thiết bị massage</a></li>
  </ul>
</div>

<div class="block-nav">
  <ul>
    <li>
      <h4><a href="https://www.sendo.vn/dien-may/" class="title">Điện máy</a></h4>
    </li>
    <li><a href="https://www.sendo.vn/dien-may/dien-nong-lanh/">Điện nóng lạnh</a></li>
    <li><a href="https://www.sendo.vn/dien-may/dien-gia-dung-lon/">Điện gia dụng lớn</a></li>
  </ul>
</div>

<div class="block-nav">
  <ul>
    <li>
      <h4><a href="https://www.sendo.vn/do-choi/" class="title">Đồ chơi &amp; giải trí</a></h4>
    </li>
  </ul>
</div>
<div class="block-nav">
  <ul>
    <li>
      <h4><a href="https://www.sendo.vn/khong-gian-song/" class="title">Không gian sống</a></h4>
    </li>
  </ul>
</div>
<div class="block-nav">
  <ul>
    <li>
      <h4 style="display: inline-block;"><a href="https://www.sendo.vn/voucher-dich-vu/" class="title">Dịch Vụ </a></h4><span class="beta"> (Đang chạy thử nghiệm)</span>
    </li>
  </ul>
</div>
<div class="block-nav">
  <ul>
    <li>
      <h4><a href="https://www.sendo.vn/thuc-pham/" class="title">Thực phẩm</a></h4>
    </li>
  </ul>
</div>
      </div>
      <div class="cont-nav-right">
        <div class="cont">
          <span>TẢI ỨNG DỤNG</span>
          <div class="conts">
            <a target="_blank" href="https://www.sendo.vn/apps/ios/?pt=107933802&ct=footer&mt=8&utm_source=SendoDesktop&utm_medium=footer&utm_campaign=installment" title="App Sendo dành cho IOS" class="apple">&nbsp;</a>
            <a target="_blank" href="https://www.sendo.vn/apps/android/?utm_source=SendoDesktop&utm_medium=footer&utm_term=installment" title="App Sendo dành cho android" class="adriod">&nbsp;</a>
          </div>
        </div>
        <div class="cont">
          <span>DỊCH VỤ THANH TOÁN</span>
          <div class="conts">
            <span title="Dịch vụ thanh toán" class="banking-list">&nbsp;</span>
          </div>
        </div>
        <div class="cont">
          <span>ĐỐI TÁC VẬN CHUYỂN</span>
          <div class="conts">
            <span title="Đối tác vận chuyển" class="transport">&nbsp;</span>
          </div>
        </div>
        <div class="cont bct">
          <div class="conts">
            <a rel="nofollow" target="_blank" class="bocongthuong" href="http://www.online.gov.vn/WebsiteDisplay.aspx?DocId=21399" title="">
              <img src="https://static.scdn.vn/images/ecom/bocongthuong.gif" alt="Bộ Công Thương" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--POLICY-->
  <div class="policy-block">
    <div class="policy-block-cont container">
      <div class="policy-block-left">
        <ul class="about">
          <li><span>Về chúng tôi</span></li>
          <li><a rel="nofollow"  href="https://www.sendo.vn/huong-dan/ve-sendo/" title="Giới thiệu Sendo.vn">Giới thiệu Sendo.vn</a></li>
          <li><a rel="nofollow"  href="https://www.sendo.vn/quy-che-hoat-dong/" title="Quy chế hoạt động">Quy chế hoạt động</a></li>
          <li><a rel="nofollow"  href="https://www.sendo.vn/che-tai-vi-pham/" title="Các mức chế tài vi phạm/">Các mức chế tài vi phạm</a></li>
          <li>
            <p>Hotline: <b>1900 6000</b>
            hoặc gửi <br> yêu cầu
              <a class="lh" rel="nofollow"  href="https://www.sendo.vn/lien-he/" title="Liên hệ">tại đây</a>
              <a class="td" rel="nofollow"  href="https://www.sendo.vn/nhip-song/tuyen-dung/" title="Tuyển dụng"> - Tuyển dụng</a>
            </p>
            </li>
          <li>
            <a rel="nofollow"  href="https://www.sendo.vn/sitemap/" title="Sitemap">Sitemap</a>
            <a ref="nofollow" id="set_device" class="mobile" href="javascript:;" title="Sendo mobile"> - Sendo Mobile</a>
          </li>
        </ul>
        <ul class="buyer">
        	<li><span>Dành cho người mua</span></li>
            <li><a rel="nofollow" target="_blank" href="https://www.sendo.vn/bao-ve-nguoi-mua/" title="Bảo vệ người mua">Bảo vệ người mua</a></li>
            <li><a rel="nofollow" target="_blank" href="https://www.sendo.vn/quy-dinh-nguoi-mua/" title="Quy định đối với người mua">Quy định đối với người mua </a></li>
            <li><a rel="nofollow" target="_blank" href="https://www.sendo.vn/quy-dinh-nguoi-mua/#qdk" title="Giải quyết khiếu nại"> Giải quyết khiếu nại </a></li>
            <li><a rel="nofollow" target="_blank" href="https://www.sendo.vn/huong-dan/huong-dan-mua-hang/" title="Hướng dẫn người mua">Hướng dẫn người mua</a></li>
            <li><a rel="nofollow" target="_blank" href="https://www.sendo.vn/hoi-dap/" title="Các câu hỏi thường gặp">Các câu hỏi thường gặp</a></li>
        </ul>
        <ul class="seller">
          <li><span>Dành cho người bán</span></li>
          <li><a rel="nofollow" target="_blank" href="https://ban.sendo.vn/" title="Mở shop trên Sendo">Mở shop trên Sendo</a></li>
          <li><a rel="nofollow" target="_blank" href="https://ban.sendo.vn/chinh-sach-nguoi-ban/" title="Quy định đối với người bán">Quy định đối với người bán </a></li>
          <li><a rel="nofollow" target="_blank" href="https://ban.sendo.vn/chia-se-kinh-nghiem/" title="Kinh nghiệm bán hàng">Kinh nghiệm bán hàng</a></li>
          <li><a rel="nofollow" target="_blank" href="https://ban.sendo.vn/tin-tuc/" title="Thông tin cho người bán">Thông tin cho người bán</a></li>
        </ul>
        <ul class="link">
          <li>
            <span>Liên kết</span>
            <a target="_blank" href="http://www.123mua.vn/" title="123Mua.vn: Mua bán Online chất lượng, giá tốt nhất thị trường" class="w123mua">www.123mua.vn</a>
            <span class="separator">-</span>
            <a target="_blank" href="https://www.sendo.vn/nhip-song/" title="Nhịp sống Sendo - Tin Video, Tin Giải trí, Xu hướng thời trang cập nhật mỗi ngày" class="blogsendo">Nhịp sống Sendo</a>
            <a target="_blank" href="https://www.facebook.com/muasamsendo/" title="Facebook Sendo" class="myfacebook icn">
              <svg class="icon icon-facebook2"><use xlink:href="#icon-facebook2"></use></svg>
            </a>
            <a target="_blank" href="https://twitter.com/Sendovn/" title="Twitter Sendo" class="mytwitter icn">
              <svg class="icon icon-twitter2"><use xlink:href="#icon-twitter2"></use></svg>
            </a>
            <!-- <a target="_blank" href="https://plus.google.com/+SendoVnOfficial/" title="Google+ Sendo" class="mygoogle icn">
              <svg class="icon icon-google-plus2"><use xlink:href="#icon-google-plus2"></use></svg>
            </a> -->
            <a target="_blank" href="https://www.youtube.com/user/sendovn/" title="Youtube Sendo" class="youtube icn">
              <svg class="icon icon-youtube3"><use xlink:href="#icon-youtube3"></use></svg>
            </a>
            <a target="_blank" href="http://www.pinterest.com/sendofpt/" title="Pinterest Sendo" class="pinterest icn">
              <svg class="icon icon-pinterest2"><use xlink:href="#icon-pinterest2"></use></svg>
            </a>
          </li>
          <li class="register-email">
            <p>Đăng ký nhận thông tin ưu đãi và khuyến mãi khủng từ Sendo.vn</p>
            <div class="box-email">
              <input type="text" placeholder="Nhận mail" name="email"/>
              <button title="Send mail" type="button" class="men" onclick="sendNewletter('Nam')">Nam</button>
              <button title="Send mail" type="button" class="woman" onclick="sendNewletter('Nữ')">Nữ</button>
              <input type="hidden" name="format" value="h">
              <input type="hidden" value="https://www.sendo.vn/" name="url_base" class="url_base">
              <input type="hidden" value="http://vps01.sendomail.vn" name="url_sendmail" id="url_sendmail">
             </div>
            <em>Thông tin của bạn sẽ  được bảo mật tuyệt đối và bạn có thể hủy đăng ký bất cứ lúc nào.</em>
          </li>
          <li>
            <a rel="nofollow" href="javascript:void(0)" title="" class="payment tool-tip" data-original-title="Người mua chỉ thanh toán khi nhận hàng còn nguyên niêm phong, nguyên đai nguyên kiện. Áp dụng trên toàn quốc với các đơn hàng có giá trị dưới 10,000,000 đồng.">&nbsp;</a>
            <a rel="nofollow" href="javascript:void(0)" title="" class="transaction tool-tip" data-original-title="Người mua có quyền khiếu nại và yêu cầu được hoàn tiền nếu hàng hóa không giống như mô tả hoặc không phải là món hàng mà bạn muốn mua.">&nbsp;</a>
            <a target="_blank" href="http://ban.sendo.vn/" title="Mở shop trên Sendo.vn" class="openshop">&nbsp;</a>
          </li>
        </ul>
      </div>
      <div class="policy-block-right">
        <a ref="nofollow" id="set_device" class="mobile for-m" href="javascript:;" title="Sendo mobile">
          <svg class="icon icon-mobile"><use xlink:href="#icon-mobile"></use></svg>
          Sendo Mobile
        </a>
        <span>Copyright © 2012 Sendo.vn</span>
        <p class="for-stm"><span class="title-stm">Công ty Cổ phần Công nghệ Sen Đỏ, thành viên của Tập đoàn <svg class="icon-LOGOFPT"><use  xlink:href="#icon-LOGOFPT"></use></svg></span></p>
          <p>Số ĐKKD: 0312776486 - Ngày cấp: 13/05/2014, được sửa đổi lần thứ 6, ngày 23/05/2016.</p>
          <p>Cơ quan cấp: Sở Kế hoạch và Đầu tư TPHCM. </p>
          <p>Địa chỉ: Tòa nhà FPT Tân Thuận, Lô 29B-31B-33B, Đường Tân Thuận, KCX Tân Thuận, Phường Tân Thuận Đông, Quận 7, Tp.HCM. </p>
          <p class="email-contact">Email: <a href="mailto:lienhe@sendo.vn" title="Email liên hệ của Sendo.vn">lienhe@sendo.vn</a></p>
        </div>
      </div>
    </div>
    <div class="block-tags-search">
      <div class="tags-search container">
	<div class="tl">Top tìm kiếm</div> 
	<div class="tags">
						<strong><a class="" href="https://www.sendo.vn/thoi-trang-nam/ao-nam/ao-thun/" title="áo thun nam">áo thun nam</a></strong><span>|</span>
					<strong><a class="" href="https://www.sendo.vn/me-va-be/do-cho-be-khi-ra-ngoai/xe-day/" title="xe đẩy cho bé">xe đẩy cho bé</a></strong><span>|</span>
					<strong><a class="" href="https://www.sendo.vn/my-pham/" title="mỹ phẩm hàn quốc">mỹ phẩm hàn quốc</a></strong><span>|</span>
					<strong><a class="" href="https://www.sendo.vn/thoi-trang-nam/giay-dep-nam/" title="giày nam">giày nam</a></strong><span>|</span>
					<strong><a class="" href="https://www.sendo.vn/thoi-trang-cong-so.htm" title="thời trang công sở">thời trang công sở</a></strong><span>|</span>
					<strong><a class="" href="https://www.sendo.vn/dam-trung-nien.htm" title="đầm trung niên">đầm trung niên</a></strong><span>|</span>
					<strong><a class="" href="https://www.sendo.vn/giay-cau-long.htm" title="giày cầu lông">giày cầu lông</a></strong><span>|</span>
					<strong><a class="" href="https://www.sendo.vn/thoi-trang-nu/dam/ao-lien-quan/" title="jumpsuit">jumpsuit</a></strong><span>|</span>
					<strong><a class="" href="https://www.sendo.vn/thoi-trang-nu/phu-kien/balo/" title="balo">balo</a></strong><span>|</span>
					<strong><a class="" href="https://www.sendo.vn/thoi-trang-nam/phu-kien/dong-ho/" title="đồng hồ nam">đồng hồ nam</a></strong><span>|</span>
					<strong><a class="" href="https://www.sendo.vn/thoi-trang-nam/ao-khoac/" title="áo khoác nam">áo khoác nam</a></strong><span>|</span>
					<strong><a class="" href="https://www.sendo.vn/thoi-trang-nu/dam/dam-du-tiec/" title="đầm dự tiệc">đầm dự tiệc</a></strong><span>|</span>
					<strong><a class="" href="https://www.sendo.vn/thoi-trang-nu/dam/dam-cong-so/" title="đầm công sở">đầm công sở</a></strong><span>|</span>
					<strong><a class="" href="https://www.sendo.vn/thoi-trang-nu/ao-nu/ao-doi/" title="áo đôi">áo đôi</a></strong><span>|</span>
					<strong><a class="" href="https://www.sendo.vn/thoi-trang-nam/ao-nam/ao-so-mi/" title="áo sơ mi nam">áo sơ mi nam</a></strong><span>|</span>
					<strong><a class="" href="https://www.sendo.vn/thoi-trang-nu/ao-nu/ao-vest-blazer/" title="áo vest nữ">áo vest nữ</a></strong><span>|</span>
					<strong><a class="" href="https://www.sendo.vn/thoi-trang-nam/ao-vest-blazer/ao-vest/" title="áo vest nam">áo vest nam</a></strong><span>|</span>
					<strong><a class="" href="https://www.sendo.vn/thoi-trang-nam/quan-nam/quan-jean/" title="quần jean nam">quần jean nam</a></strong><span>|</span>
					<strong><a class="" href="https://www.sendo.vn/thoi-trang-nam/phu-kien/balo-tui-xach/" title="túi xách nam">túi xách nam</a></strong><span>|</span>
					<strong><a class="" href="https://www.sendo.vn/thoi-trang-nam/giay-dep-nam/giay-da/" title="giày da nam">giày da nam</a></strong><span>|</span>
					<strong><a class="" href="https://www.sendo.vn/thoi-trang-nu/ao-nu/ao-thun-co-tay/" title="áo thun nữ">áo thun nữ</a></strong><span>|</span>
					<strong><a class="" href="https://www.sendo.vn/thoi-trang-nu/dam/dam-da-hoi/" title="đầm dạ hội">đầm dạ hội</a></strong><span>|</span>
					<strong><a class="" href="https://www.sendo.vn/thoi-trang-nam/giay-dep-nam/giay-sandal/" title="sandal nam">sandal nam</a></strong><span>|</span>
					<strong><a class="" href="https://www.sendo.vn/thoi-trang-nu/ao-nu/ao-kieu/" title="áo kiểu nữ">áo kiểu nữ</a></strong><span>|</span>
					<strong><a class="" href="https://www.sendo.vn/thoi-trang-nu/giay-dep-nu/giay-de-xuong/" title="giày đế xuồng">giày đế xuồng</a></strong><span>|</span>
					<strong><a class="" href="https://www.sendo.vn/thoi-trang-nu/ao-khoac/ao-khoac-len/" title="áo khoác len">áo khoác len</a></strong><span>|</span>
					<strong><a class="" href="https://www.sendo.vn/thoi-trang-nu/dam/dam-om/" title="đầm ôm">đầm ôm</a></strong><span>|</span>
					<strong><a class="" href="https://www.sendo.vn/me-va-be/thoi-trang-cho-be/quan-ao-so-sinh/" title="quần áo sơ sinh">quần áo sơ sinh</a></strong><span>|</span>
					<strong><a class="" href="https://www.sendo.vn/me-va-be/thoi-trang-be-gai/" title="thời trang bé gái">thời trang bé gái</a></strong><span>|</span>
					<strong><a class="" href="https://www.sendo.vn/" title="mua sắm trực tuyến">mua sắm trực tuyến</a></strong><span>|</span>
					<strong><a class="" href="https://www.sendo.vn/me-va-be/do-choi-cho-be/" title="đồ chơi trẻ em">đồ chơi trẻ em</a></strong><span>|</span>
					<strong><a class="" href="https://www.sendo.vn/may-ham-sua.htm" title="máy hâm sữa">máy hâm sữa</a></strong><span>|</span>
												<strong><a class="" href="https://www.sendo.vn/cap-av-1-ra-3.htm" title="cap av 1 ra 3">cap av 1 ra 3</a></strong><span>|</span>
								<strong><a class="" href="https://www.sendo.vn/micro-karaoke-bluetooth-micgeek-q9.htm" title="micro karaoke bluetooth micgeek q9">micro karaoke bluetooth micgeek q9</a></strong><span>|</span>
								<strong><a class="" href="https://www.sendo.vn/day-av-1-ra-3.htm" title="day av 1 ra 3">day av 1 ra 3</a></strong><span>|</span>
								<strong><a class="" href="https://www.sendo.vn/binh-xit-chong-tham-nuoc-nano.htm" title="bình xịt chống thấm nước nano">bình xịt chống thấm nước nano</a></strong><span>|</span>
								<strong><a class="" href="https://www.sendo.vn/mic-karaoke-co-loa-q7.htm" title="mic karaoke co loa q7">mic karaoke co loa q7</a></strong><span>|</span>
								<strong><a class="" href="https://www.sendo.vn/mic-hat-karaoke-x6.htm" title="mic hat karaoke x6">mic hat karaoke x6</a></strong><span>|</span>
								<strong><a class="" href="https://www.sendo.vn/mic-kem-loa-ket-hop.htm" title="mic kèm loa kết hợp">mic kèm loa kết hợp</a></strong><span>|</span>
								<strong><a class="" href="https://www.sendo.vn/card-wifi-cho-pc.htm" title="card wifi cho pc">card wifi cho pc</a></strong><span>|</span>
								<strong><a class="" href="https://www.sendo.vn/mic-kem-loa-3-trong-1-q9.htm" title="mic kèm loa 3 trong 1 q9">mic kèm loa 3 trong 1 q9</a></strong><span>|</span>
								<strong><a class="" href="https://www.sendo.vn/mic-3-trong-1.htm" title="mic 3 trong 1">mic 3 trong 1</a></strong><span>|</span>
								<strong><a class="" href="https://www.sendo.vn/hut-bui-cam-tay.htm" title="hut bui cam tay">hut bui cam tay</a></strong><span>|</span>
								<strong><a class="" href="https://www.sendo.vn/mic-karaoke-ktv-k088-3in1-mic-kara-loa-bluetooth.htm" title="mic karaoke ktv k088 3in1 mic kara loa bluetooth">mic karaoke ktv k088 3in1 mic kara loa bluetooth</a></strong><span>|</span>
								<strong><a class="" href="https://www.sendo.vn/bo-kich-song-wifi-xiaomi.htm" title="bộ kích sóng wifi xiaomi">bộ kích sóng wifi xiaomi</a></strong><span>|</span>
								<strong><a class="" href="https://www.sendo.vn/mic-bluetooth-tuxun-q7.htm" title="mic bluetooth tuxun q7">mic bluetooth tuxun q7</a></strong><span>|</span>
								<strong><a class="" href="https://www.sendo.vn/usb-chuyen-loa-thuong-thanh-loa-bluetooth.htm" title="usb chuyển loa thường thành loa bluetooth">usb chuyển loa thường thành loa bluetooth</a></strong><span>|</span>
								<strong><a class="" href="https://www.sendo.vn/coc-sac-cho-xe-hoi.htm" title="cốc sạc cho xe hơi">cốc sạc cho xe hơi</a></strong><span>|</span>
								<strong><a class="" href="https://www.sendo.vn/voi-sen-tang-ap.htm" title="voi sen tang ap">voi sen tang ap</a></strong><span>|</span>
								<strong><a class="" href="https://www.sendo.vn/av-1-ra-3.htm" title="av 1 ra 3">av 1 ra 3</a></strong><span>|</span>
								<strong><a class="" href="https://www.sendo.vn/ket-noi-khong-day.htm" title="ket noi khong day">ket noi khong day</a></strong><span>|</span>
								<strong><a class="" href="https://www.sendo.vn/micro-tuxun-q7-tphcm.htm" title="micro tuxun q7 tphcm">micro tuxun q7 tphcm</a></strong><span>|</span>
				</div>
</div>    </div>
  </div>
  </div>
</div>
<!-- Email maketing -->
<!--  -->
<!-- End Email maketing -->

<div class="modal fade" id="modalBrandProd">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <span type="button" class="close" data-dismiss="modal" aria-hidden="true">X</span>
                <span class="captionModal">Vì sao mua hàng hiệu tại sendo.vn đáng tin cậy</span>
                <p class="par">
                    <span>Được bán bởi các shop do Sendo.vn khảo sát và chứng nhận</span>
                    <span> Uy tín tuyệt đối, đặt mục tiêu lợi ích khách hàng lên hàng đầu</span>
                    <span>Shop bán hàng hiệu được chứng minh nguồn gốc + đặt cọc khoản tiền đảm bảo cho hàng hóa kinh doanh</span>
                </p>
                <span class="captionModal m-t-20">Quyền lợi khi mua hàng hiệu tại sendo.vn</span>
                <p class="par">
                    <span>Nhiều sản phẩm lựa chọn từ thương hiệu nổi tiếng hàng đầu thế giới</span>
                    <span>Giá tốt nhất, nhiều khuyến mãi hấp dẫn hằng tuần, tặng điểm SEN khi mua hàng hiệu.</span>
                    <span>Cam kết hoàn tiền 100% khi phát hiện hàng giả, hàng nhái.</span>
                    <span>Đổi trả trong vòng 07 ngày nếu bạn không hài lòng.</span>
                </p>

           </div>
          </div>
        </div><!-- /.modal-content -->
      </div>

<!--float-event-banner-->
  <div class="float-banner-ev-bottom">
    <div class="content-float-bn-ev container sendo-birthday">
      <span class="bt-close-float-ev">x</span>

      <div class="float-for-desktop">
        </div>
      <div class="float-for-mobile">
      </div>
    </div>
  </div>

<!--end float-event-banner-->

<!-- Modal Login -->
<div aria-hidden="false" class="modal hide fade modal-login modal-new" id="modalLogin" onshow="showPopup();" >
    <span id="flag_popup" style="display:none;" ></span>
    <div class="modal-header">
        <span class="caption" id="caption">Đăng Ký</span>
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">x</button>        
    </div>
    <div class="modal-body ">
        <div class="box-fl">
          <div class="login-body">
              <div class="ajax-load-qa">&nbsp;</div>
              <form method="post" onsubmit="return fosp_login();" id="login-form-validate">
                <div class="login-social">
                    <span class="lbl">Đăng nhập bằng:</span>
                    <div title="facebook" class="ic-login login-fb" onclick="OpenIDConnect.fb_login();"><svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg></div>
                    <div title="google" class="ic-login login-go" onclick="OpenIDConnect.gg_login();"><svg class="icon icon-googleg2"><use xlink:href="#icon-googleg2"></use></svg></div>                                      
                    <span class="lbl2">Hoặc</span>
                </div>
                <div class="main-login">
                        <div class="b-email">
                            <input type="text" name="username" id="log_username" autofocus="autofocus" placeholder="Vui lòng nhập email" class="required-entry validate-email"/>
                        </div>
                       <div class="b-password">
                           <input type="password" name="password" placeholder="Vui lòng nhập mật khẩu" id="log_password" class="required-entry" />
                       </div>    
                       <a rel="nofollow" href="https://id.sendo.vn/Account/ForgetPassword" class="forget-pass" target="_blank" title="Quên mật khẩu?">Quên mật khẩu?</a>                   
                        <div class="login_error" id="login_error"></div>
                        <div class="radio-login">
                         <label class="radio">
                              <input type="radio" name="radioLogin" checked="checked" value="is_login" onchange="myFunction();" />
                              <span>Tôi đã có tài khoản tại Sendo.vn</span>
                         </label>
                         <label class="radio active">
                              <input type="radio" name="radioLogin" value="not_login" onchange="myFunction();" />
                              <span>Đặt hàng không cần đăng nhập</span>
                         </label> 
                        </div>
                       <button class="btn-login bt-cont" type="submit" id="login_buynow" style="display:none;">Tiếp tục</button>
                       <button class="btn-login bt-cont" type="submit" id="login_real" style="display:none;">Đăng Nhập</button>
                       <button class="btn-login bt-cont" type="submit" id="buynow_detail" onclick="buyNow();" style="display:none;">Tiếp tục</button>
                       <button id="checkout_guest" class="btn-login bt-cont" style="display:none;">Tiếp tục</button>

              </form>

                       <p class="no-account">
                          Bạn chưa có tài khoản? 
                          <a rel="nofollow" href="javascript:void(0);" class="signup-modal-click" id="btn_register" onclick="show_captcha();login_click(false,false,false,false,jQuery('#flag_popup').html());" title=""><strong>Đăng ký ngay</strong></a>
                        </p>
                    
                </div>
          </div>
          <div class="signup-body" >
            <div class="ajax-load-qa">&nbsp;</div>
            <form method="post" action="https://www.sendo.vn/general/login/fospCreate/" id="register-form-validate" onsubmit="return fosp_register()">
                <input type="hidden" name="current_url" id="fosp_register_current_url" value="https://www.sendo.vn/general/template/footer"/>
                <input type="hidden" name="old_url" value="https://www.sendo.vn/general/template/footer"/>   
                <div class="login-social">
                    <span class="lbl">Bạn đã có tài khoản Sendo.</span>
                    <a rel="nofollow" href="javascript:void(0);"  onclick="login_click(true,false,false,false,jQuery('#flag_popup').html());" title="Đăng nhập"><strong>Đăng nhập</strong></a>
                    <div class="break-login-social">
                      
                      <span class="break">Bạn cũng có thể đăng nhập với:</span>
                      <div class="ic-login login-fb" onclick="OpenIDConnect.fb_login()"><svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg></div>
                      <div class="ic-login login-go" onclick="OpenIDConnect.gg_login()"><svg class="icon icon-googleg2"><use xlink:href="#icon-googleg2"></use></svg></div>
                     
                    </div>                   
                    
                </div>            
                <div class="main-login">
                        <div class="register_error" id="register_error"></div>
                        <div class="b-email">
                            <input type="text" placeholder="Nhập email muốn đăng ký" autofocus="autofocus" name="email" class="" id="reg_email" autocomplete="off" onchange="check_email(this.id);"/>
                            <div class="error" id="reg_error_email"></div>
                        </div>
                       <div class="b-password">
                           <input type="password" placeholder="Vui lòng nhập mật khẩu" name="password" id="reg_password" autocomplete="off" class="required-entry"/>
                       </div>   
                       <div class="b-password re-pass">
                           <input type="password" placeholder="Vui lòng nhập lại mật khẩu" name="re_password"  id="reg_re_password" class="required-entry"/>
                       </div> 
                      <div class="b-name">
                        <input type="text" id="reg_firstname" name="firstname" placeholder="Họ và tên đệm" class="required-entry" maxlength="30"/>
                        <input id="reg_lastname" name="lastname" type="text" placeholder="Tên" class="required-entry" maxlength="10"/>  
                      </div> 
                      <div class="b-catpcha">
                          <input type="text" name="captcha" id="catpcha_input" class="required-entry"/>  
                          <img width="120" height="30" src="" alt="Capcha image" class="captcha_img"/> 
                          <span class="refresh" onclick="show_captcha()"><svg class="icon icon-return"><use xlink:href="#icon-return"></use></svg></span>
                      </div>                  
                       
                      <label>
                          <input type="checkbox" name="get_newsletter" checked="checked" value="1"> 
                          Đăng ký nhận bản tin Sendo.vn
                      </label>
                      <label>
                        <input type="checkbox" name="agree" checked="checked" value="1" id="check_agree"> 
                        <a rel="nofollow" href="https://id.sendo.vn/dieu-khoan" target="_blank" title="Xem điều khoản sử dụng">Tôi đồng ý với điều khoản sử dụng</a>
                      </label>
                      <button class="btn-register bt-cont"  type="submit" >Đăng ký</button>                      
                                           
                </div>                
            </form>
        </div>
              
      </div>   
    </div>
</div>  
<script>
  function triggerDefaultRadio() {
    $('.radio-login .radio.default').trigger('click');
  }
  function showPopup(){
    jQuery('.login-body .ajax-load-qa').hide();
    var pathname = window.location.pathname;
    var flag_popup = jQuery('#flag_popup').html();
    var radio_login = jQuery(".radio-login");
    var log_username = jQuery('#log_username');
    var log_password = jQuery('#log_password');
    if(flag_popup == '3'){
      radio_login.show();
      log_username.focus();
      $('#login_error').hide();
      $("#login_buynow").hide();
      $("#buynow_detail").hide();
      $('#login_real').hide();
      $("#checkout_guest").show();
      $('#modalLogin #caption').html('Đăng nhập để mua hàng');
     
    }

    if(flag_popup == '0'){
      radio_login.hide();
      $('#login_real').show();
      $('#buynow_detail').hide();
      $('#login_buynow').hide();
      $('#checkout_guest').hide();
      log_username.removeAttr('readonly');
        log_username.focus();
        log_username.removeClass('disable-input');
        log_password.removeAttr('readonly').removeClass('disable-input');
      var action = DOMAIN + 'general/login/login/';
      $('.login-body #login-form-validate').attr('action',action);
    }
    if(flag_popup == '1'){
      radio_login.show();
      log_username.focus();
      $('#login_error').hide();
      $("#login_buynow").show();
      $("#buynow_detail").hide();
      $('#login_real').hide();
      $("#checkout_guest").hide();
      $('#modalLogin #caption').html('Đăng nhập để mua hàng');
      $('.modal-login .main-login .no-account').hide();

      
    }
  }
  function myFunction(){
    var log_username = jQuery('#log_username');
    var log_password = jQuery('#log_password');
    var radio_login = jQuery(".radio-login");
    if (radio_login.is(":visible")) {
      var rdo = $("#login-form-validate input[type='radio'][name='radioLogin']:checked").val();
      if(rdo == "is_login"){
        var action = DOMAIN + 'general/login/login/';
        $('.login-body #login-form-validate').attr('action',action);
        $('#login_real').hide();
        $('#buynow_detail').hide();
        $('#login_buynow').show();
        $('#checkout_guest').hide();
        log_username.removeAttr('readonly').focus().removeClass('disable-input');
        log_password.removeAttr('readonly').removeClass('disable-input');
        $('.forget-pass').removeClass('disable-input');
        $('#login_error').show();
      }
      else{
        var flag_popup = jQuery('#flag_popup').html();

        if(flag_popup == '3'){
          $('.login-body #login-form-validate').removeAttr('action');
          $('#login_real').hide();
          $('#buynow_detail').hide();
          $('#login_buynow').hide();
          $('#checkout_guest').show();
          log_username.attr('readonly',true).addClass('disable-input');
          log_password.attr('readonly',true).addClass('disable-input');
          $('.forget-pass').addClass('disable-input');

          $('#login_error').hide();
        }else{
          $('.login-body #login-form-validate').removeAttr('action');
          $("#login_buynow").hide();
          $("#buynow_detail").show();
          log_username.attr('readonly',true).addClass('disable-input');
          log_password.attr('readonly',true).addClass('disable-input');
          $('.forget-pass').addClass('disable-input');
          $('#login_error').hide();
        }
      }
    }
    
  }
</script>
<script>
  $( "#reg_email" ).keypress(function() {
    $('#reg_email').removeClass('validation-failed');
  });
  $( "#reg_password" ).keypress(function() {
    $('#reg_password').removeClass('validation-failed');
  });
  $( "#reg_re_password" ).keypress(function() {
    $('#reg_re_password').removeClass('validation-failed');
  });
  $( "#reg_firstname" ).keypress(function() {
    $('#reg_firstname').removeClass('validation-failed');
  });
  $( "#reg_lastname" ).keypress(function() {
    $('#reg_lastname').removeClass('validation-failed');
  });
  $( "#catpcha_input" ).keypress(function() {
    $('#catpcha_input').removeClass('validation-failed');
  });
  $( "#log_username" ).keypress(function() {
    $('#log_username').removeClass('validation-failed');
    $('#log_password').removeClass('validation-failed');
  });
  $( "#log_password" ).keypress(function() {
    $('#log_username').removeClass('validation-failed');
    $('#log_password').removeClass('validation-failed');
  });
  // $('#check_agree').change(function(){
    
  //   if(check == false)
  //   {
  //     $("#textbox1").attr("disabled", "disabled"); 
  //   }
  // });
</script>
 <div class="modal fade" id="modalAddtocart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>       
            </div>
            <div class="modal-body">
                <div class="addtocart_modal">
                    
                    <div class="box_product_incart util-clearfix"><div class="waiting_addtocart"></div></div>
                    <div class="merchant-promotion" style="display: none;" id="merchant-promotion-popup"></div>
                    <!-- <div class="buttons">
                    <script>jQuery(document).ready(function(){jQuery('.contine_shop').click(function(){jQuery('#modalAddtocart').modal('hide');});});</script>                	<a title="Tiếp tục mua hàng" class="btn contine_shop" href="#/"  class="close" data-dismiss="modal" aria-hidden="true">Tiếp tục mua hàng</a>
                    <a title="Xem giỏ hàng" class="btn" href="" onclick="goto_popupcheckout(this);">Xem giỏ hàng</a>
                    </div> -->
                <div class="recommend">

                </div>

                </div>
            </div>
        </div>
    </div><!-- /.modal-content -->
</div>
<script type="text/javascript">
    window.___gcfg = {lang: 'vi'};
    (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();

</script>

<div id="fb-root"></div>
<div id="scroll-top" title="Lên đầu trang"><svg class="icon icon-N-up"><use xlink:href="#icon-N-up"></use></svg></div>
<script>
  window.fbAsyncInit = function() {
  //FB._initialized = false;
  var id_app = '';
  switch(document.domain) {
      case 'item.sendo.vn'  :
      case 'event.sendo.vn' :
          id_app = '606280079541342';
          break;
      case 'test.sendo.vn'  :
      case 'pilot.sendo.vn' :
      case 'sendo.vn'       :
          id_app = '387062634759025';
          break;
      default:
          id_app = '387062634759025';
          break;
  }
  FB.init({
    appId: id_app,
    cookie: true,
    xfbml: true,
    status: true,
    version: 'v2.0'
  });
  FB.Event.subscribe('auth.authResponseChange', function(response) {
    if (response.status == 'connected') {fb_check();}
  });

  };
  function fb_check(){
    if(userLogin== false){
      jQuery.ajax({
        url: DOMAIN+'general/login/facebookLogin/',
        type: "POST",
        success: function(data){
          if(!data.error){
              jQuery('#loading').hide();
              $('.head-bar .click-active').removeClass('active');
              $('.head-bar').removeClass('link-active');
              $('body').removeClass('jsMenuMarkLayer-bartop');
              FOConnect.getSession(DOMAIN + 'general/login/getSession/');
              FOConnect.checkUserLogin(DOMAIN + 'general/login/checkLogin/');
              notifyLogin();
              angular.element(jQuery('#boxFavorite')).scope().getWishlistOnStart();
              jQuery('#modalLogin .signup-body').hide();
              jQuery('#modalLogin').modal('hide');
              hidenButtonBuyLogin();
              angular.element(document.getElementById('Notify-controller')).scope().reloadSocket();
          }
        }
      });
    }
  }
  (function() {
    init_fb();
  }());
  function init_fb(){
    var e = document.createElement('script'); e.async = true;
    e.src = document.location.protocol +
    '//connect.facebook.net/en_US/sdk.js';
    document.getElementById('fb-root').appendChild(e);
  }
</script>

<script type="text/javascript">
  $(document).ready(function(){
    var ref = document.referrer;
    var patt = new RegExp("123mua.vn");
    var patt_sd = new RegExp("sendo.vn");
    var res = patt.test(ref);
    var res_sd = patt_sd.test(ref);
    if(res){
      jQuery(".back-123mua-gif a").attr({"href":ref});
      jQuery(".back-123mua-gif").show();
    }else{
      jQuery(".back-123mua-gif").hide();
    }
    jQuery('.back-123mua-gif span').on('click',function(){
        jQuery(".back-123mua-gif").hide();
    });

    if(!res_sd){
        if(window.OpenIDConnect){
            OpenIDConnect.cookie("refer_src_full",ref,{path: '/'});
        }
    }
    var href = location.href;
    var patt = new RegExp("refer_src=");
    var res_check = patt.test(href);
    if(res_check){
      var tmp = href.split('refer_src=');
      if(tmp[1] != 'undefined'){
        if(window.OpenIDConnect){
            OpenIDConnect.cookie("refer_src",tmp[1],{path: '/'});
        }
      }
    }
  });
</script>

<script type="text/javascript">
  $(document).ready(function(){

    $(document).on('onFOConnectReady', function() {
        if(data_login.length > 0){
          jQuery('.sub-bar-top.sub-ktdh').addClass('logged');
        }
    });

    $('.frmCheckOrderLogin').submit(function (event) {
      var id = $.trim($('#increment_id').val());
      if (id  === '') {
        $('#increment_id').addClass('validation-failed');
        $('#ktdt-no').show();
        $('#ktdt-no').html('Mã đơn hàng không được để trống');
        $('#increment_id').focus();
        return false;
      }
      if(isNaN(id)){
        $('#ktdt-no').show();
        $('#ktdt-no').html('Mã đơn hàng không được là chữ');
        $('#increment_id').focus();
        $('#increment_id').addClass('validation-failed');
        return false;
      }
    });

    function isNumberKey(evt){
      var theEvent = evt || window.event;
      var key = theEvent.keyCode || theEvent.which;
      var backspace = key;

      key = String.fromCharCode( key );
      var regex = /[0-9]|\./;
      if( !regex.test(key) && backspace != 8) {
          theEvent.returnValue = false;
          if(theEvent.preventDefault) theEvent.preventDefault();
      }
    }

    function isPhone(evt){
      var patern09 = /^09[0-9]{8}?$/;
      var patern01 = /^01[0-9]{9}?$/;
      var patern088 = /^088[0-9]{7}?$/;
      var patern086 = /^086[0-9]{7}?$/;

      if(!patern09.test(evt) && !patern01.test(evt) && !patern088.test(evt) && !patern086.test(evt))
        return false;
      else
        return true;
    }

    function isEmail(evt){
      var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,3})?$/;
      if(!emailReg.test(evt))
        return false;
      else
        return true;
    }

    function checkOrderFlag(evt){
      var a = isEmail(evt) || isPhone(evt);
      if(a){
        return true;
      }
      else
        return false;
    }

    //submit form ktđh đăng nhập
    $( "#increment_id" ).change(function() {
      var id = $.trim($('#increment_id').val());
      if(isNaN(id)){
        $('#ktdt-no').show();
        $('#ktdt-no').html('Mã đơn hàng không được là chữ');
        $('#increment_id').focus();
        $('#increment_id').addClass('validation-failed');
        return false;
      }
    });

    //submit form ktđh ko đăng nhập
    function frmCheckOrderSubmit() {
      var id = $.trim($('#increment_id').val());
      if (id  === '') {
        $('#increment_id').addClass('validation-failed');
        $('#ktdt-no').show();
        $('#ktdt-no').html('Mã đơn hàng không được để trống');
        $('#increment_id').focus();
        return false;
      }
      var order_flag = $.trim($('#order_flag').val());
      if (order_flag  === '') {
        $('#order_flag').addClass('validation-failed');
        $('#ktdt-no').show();
        $('#ktdt-no').html('Email hoặc số điện thoại không được để trống');
        $('#order_flag').focus();
        return false;
      }
      if(!checkOrderFlag(order_flag)){
        $('#order_flag').addClass('validation-failed');
        $('#ktdt-no').show();
        $('#ktdt-no').html('Địa chỉ email hoặc số điện thoại không hợp lệ.');
        $('#order_flag').select();
        return false;
      }
      $('#btnKiemTra').html("Đang kiểm tra ...");
      $("#btnKiemTra").attr("disabled", "disabled");
      $("#order_flag").attr("disabled", "disabled");
      $("#increment_id").attr("disabled", "disabled");

      var url = DOMAIN + 'sales/check_order/check/?increment_id=' + $('#increment_id').val();
      if(isEmail(order_flag))
        url = url + '&email=' + $('#order_flag').val();
      if(isPhone(order_flag))
        url = url + '&phone=' + $('#order_flag').val();

      jQuery.ajax({
        type:"GET",
        url:url,
        success:function(res){
          if(res == 0){
            $('#order_flag').removeClass('validation-failed');
            $('#increment_id').removeClass('validation-failed');
            $('#ktdt-no').show();
            $('#ktdt-no').html('Hệ thống không tìm thấy đơn hàng, vui lòng nhập lại.');
            $('#btnKiemTra').html("Kiểm Tra");
            $("#order_flag").removeAttr("disabled");
            $("#btnKiemTra").removeAttr("disabled");
            $("#increment_id").removeAttr("disabled");
            $('#increment_id').select();
            return false;
          }
          else{
            //chuyển tới trang chi tiết đơn hàng ko đăng nhập
            $('#ktdt-no').html('Đang chuyển về trang chi tiết đơn hàng...');
            var toUrl = DOMAIN + 'kiem-tra-don-hang/?increment_id=' + $('#increment_id').val() + '&';
            if(isEmail(order_flag))
              toUrl = toUrl + 'email=' + $('#order_flag').val();
            else{
              if(isPhone(order_flag))
                toUrl = toUrl + 'phone=' + $('#order_flag').val();
            }
            window.location=toUrl;
          }
        }
      });
      return false;
    }
  });
</script>
<!-- End V2.5\4-->
<!--begin dataLayer -->
<script type="text/javascript">
    var tag_manager_data={"sendo_platform":"desktop"};
    if(tag_manager_data.length == 0) {
        tag_manager_data = {};
    }
    tag_manager_data['google_tag_params']={"ecomm_prodid":4,"ecomm_pagetype":"other"};
    tag_manager_data['pageurl']  = window.location.href;
    if(saq_user_data) {
        tag_manager_data['email']       = saq_user_data.email;
        tag_manager_data['userid']      = saq_user_data.fpt_id;
        tag_manager_data['login_type']  = saq_user_data.login_type;
    }
    
    var dataLayer       = dataLayer || [];
    dataLayer.push(tag_manager_data);
</script>


<!--end dataLayer -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KS6S8W"
height="0" width="0" class="none"></iframe></noscript>

<script type="text/javascript">
    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = decodeURIComponent(window.location.search.substring(1)),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : sParameterName[1];
            }
        }
    };
    function loadGoogleTagManager(window,document,script,dataLayer,info) {
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,script,dataLayer,info);
    }
    if(getUrlParameter('iFrame') != "1") {
        if (typeof(saq_user_data) != "undefined") {
            loadGoogleTagManager(window, document, 'script', 'dataLayer', 'GTM-KS6S8W');
        } else {
            $(window).on("tagManager", function () {
                loadGoogleTagManager(window, document, 'script', 'dataLayer', 'GTM-KS6S8W');
            });
        }
    }
</script>