@charset "utf-8";
@import "svg";

$bg1: url(sprite.png) no-repeat;
$bg2: url(ic-sprites.png) no-repeat;

.sub-bar-top {

	.sub-bar-top--child {
		padding: 0;

		li {
		    line-height: 24px;
		    padding: 4px 4px 4px 20px;
		    border-bottom: 1px dotted #ddd;

		    &:before {
		    	content: '›';
			    color: #666;
			    padding-right: 5px;
			    font-size: 14px;
		    }

		    &:hover {
		    	background-color: #fff;
		    }
		}
	}
}

.re-policy {
	color: #000 !important;
	span {
	    font-weight: bold;
	    font-size: 12px;
	    line-height: 20px;
	    margin-bottom: 10px;
	    text-transform: uppercase;
	    display: inline-block;
	}

	.cont {
		margin-bottom: 10px;
	}

	.apple, .adriod {
		background: url(//static.scdn.vn/images/ecom/ic-sprites.png) no-repeat 0 -350px;
	    width: 97px;
	    height: 30px;
	    display: inline-block;
	}

	.adriod {
	    background: url(//static.scdn.vn/images/ecom/ic-sprites.png) no-repeat -122px -350px;
	    margin-left: 10px;
	}

	.banking-list {
	    width: 175px;
		height: 65px;
	    cursor: default;
	    display: inline-block;
	    background: url(//static.scdn.vn/images/ecom/ic-sprites.png) 0 -149px no-repeat;
	}

	.transport {
	    width: 240px;
	    height: 55px;
	    margin-right: 0;
	    cursor: default;
	    display: inline-block;
	    background: url(//static.scdn.vn/images/ecom/ic-sprites.png) 0 -240px no-repeat;
	}

	.bct {
	    border-top: 1px solid #E7E7E7;
		padding-top: 10px;
	}
}

#footer {
	.title-stm {
	   	position: relative;
    	display: inline-block;

    	svg {
    		vertical-align: middle;
    	}
	}
}

.re-info {
	padding-top: 15px;
	padding-bottom: 20px;
	.re-info--logo {
		float: left; margin-right: 10px;

		svg {
			width: 100px; height: 100px;
		}
	}

	.re-info--inner {
		float: left;

		.for-m {
		    display: none;
		    margin: 5px 0;
		    font-size: 14px;
		}

		& > span {
		    font-weight: bold;
    		color: #333;
		}

		.email-contact a {
			text-decoration: underline;
		}
	}
}