@charset "UTF-8";
/* svg */
#icon-giadung_quickmenu .path1 {
  fill: #b1712b; }

#icon-giadung_quickmenu .path2 {
  fill: white; }

#icon-giadung_quickmenu .path3 {
  fill: white; }

#icon-mebe_quickmenu .path1 {
  fill: #f26822; }

#icon-mebe_quickmenu .path2 {
  fill: white; }

#icon-mebe_quickmenu .path3 {
  fill: white; }

#icon-mebe_quickmenu .path4 {
  fill: white; }

#icon-mebe_quickmenu .path5 {
  fill: white; }

#icon-mebe_quickmenu .path6 {
  fill: white; }

#icon-mebe_quickmenu .path7 {
  fill: white; }

#icon-mebe_quickmenu .path8 {
  fill: white; }

#icon-mebe_quickmenu .path9 {
  fill: white; }

#icon-mypham_quickmenu .path1 {
  fill: #f078af; }

#icon-mypham_quickmenu .path2 {
  fill: white; }

#icon-mypham_quickmenu .path3 {
  fill: white; }

#icon-phukiencongnghe_quickmenu .path1 {
  fill: #0197ff; }

#icon-phukiencongnghe_quickmenu .path2 {
  fill: white; }

#icon-sendo_quickmenu .path1 {
  fill: #ed3327; }

#icon-sendo_quickmenu .path2 {
  fill: white; }

#icon-sendo_quickmenu .path3 {
  fill: white; }

#icon-sendo_quickmenu .path4 {
  fill: white; }

#icon-taikhoan_quickmenu .path1 {
  fill: #777777; }

#icon-taikhoan_quickmenu .path2 {
  fill: white; }

#icon-thethao_quickmenu .path1 {
  fill: #1ea64a; }

#icon-thethao_quickmenu .path2 {
  fill: white; }

#icon-thoitrangnam_quickmenu .path1 {
  fill: #30457d; }

#icon-thoitrangnam_quickmenu .path2 {
  fill: white; }

#icon-thoitrangnu_quickmenu .path1 {
  fill: #ef4a77; }

#icon-thoitrangnu_quickmenu .path2 {
  fill: white; }

#icon-thoitrangnu_quickmenu .path3 {
  fill: white; }

#icon-thucpham_quickmenu .path1 {
  fill: #cf2031; }

#icon-thucpham_quickmenu .path2 {
  fill: white; }

#icon-thucpham_quickmenu .path3 {
  fill: white; }

#icon-car .path1 {
  fill: #21a249; }

#icon-car .path2 {
  fill: #21a249; }

#icon-car .path3 {
  fill: #21a249; }

#icon-car .path4 {
  fill: #21a249; }

#icon-car .path5 {
  fill: white; }

#icon-diemsen .path1 {
  fill: currentcolor; }

#icon-diemsen .path2 {
  fill: currentcolor; }

#icon-diemsen .path3 {
  fill: currentcolor; }

#icon-diemsen .path4 {
  fill: currentcolor; }

#icon-diemsen .path5 {
  fill: currentcolor; }

#icon-diemsen .path6 {
  fill: currentcolor; }

#icon-favorite2 .path1 {
  fill: currentcolor; }

#icon-favorite2 .path2 {
  fill: currentcolor; }

#icon-khiensen .path1 {
  fill: #e5101d; }

#icon-khiensen .path2 {
  fill: white; }

#icon-khiensen .path3 {
  fill: white; }

#icon-khiensen .path4 {
  fill: white; }

#icon-khiensen .path5 {
  fill: white; }

#icon-khiensen .path6 {
  fill: white; }

#icon-khiensen .path7 {
  fill: white; }

#icon-Rating-Feedback .path1 {
  fill: currentcolor; }

#icon-shopping .path1 {
  fill: currentcolor; }

#icon-arrowupdown .path1 {
  fill: currentcolor; }

#icon-arrowupdown .path2 {
  fill: currentcolor; }

#icon-LOGOSENDO .path1 {
  fill: currentcolor; }

#icon-LOGOSENDO .path2 {
  fill: currentcolor; }

#icon-LOGOSENDO .path3 {
  fill: currentcolor; }

#icon-LOGOSENDO .path4 {
  fill: currentcolor; }

#icon-LOGOSENDO .path5 {
  fill: currentcolor; }

#icon-LOGOSENDO .path6 {
  fill: currentcolor; }

#icon-LOGOSENDO .path7 {
  fill: currentcolor; }

#icon-LOGOSENDO .path8 {
  fill: currentcolor; }

#icon-LOGOSENDO .path9 {
  fill: currentcolor; }

#icon-LOGOSENDO .path10 {
  fill: currentcolor; }

#icon-LOGOSENDO .path11 {
  fill: currentcolor; }

#icon-LOGOSENDO .path12 {
  fill: currentcolor; }

#icon-LOGOSENDO .path13 {
  fill: currentcolor; }

#icon-LOGOSENDO .path14 {
  fill: currentcolor; }

#icon-favorite2 .path1 {
  fill: currentcolor; }

#icon-favorite2 .path2 {
  fill: currentcolor; }

#icon-brand .path1 {
  fill: #ff8b20; }

#icon-brand .path2 {
  fill: #ff8b20; }

#icon-brand .path3 {
  fill: #ff8b20; }

#icon-brand .path4 {
  fill: #ff8b20; }

#icon-brand .path5 {
  fill: #ff8b20; }

#icon-brand .path6 {
  fill: #ff8b20; }

#icon-brand .path7 {
  fill: #ff8b20; }

#icon-brand .path8 {
  fill: #ff8b20; }

#icon-brand .path9 {
  fill: #ff8b20; }

#icon-brand .path10 {
  fill: #ff8b20; }

#icon-brand .path11 {
  fill: #ff8b20; }

#icon-brand .path12 {
  fill: #ff8b20; }

#icon-brand .path13 {
  fill: #ff8b20; }

#icon-brand .path14 {
  fill: #ff8b20; }

#icon-brand .path15 {
  fill: #ff8b20; }

#icon-brand .path16 {
  fill: #ff8b20; }

#icon-brand .path17 {
  fill: #ff8b20; }

#icon-brand .path18 {
  fill: #ff8b20; }

#icon-brand .path19 {
  fill: #ff8b20; }

#icon-brand .path20 {
  fill: #ff8b20; }

#icon-brand .path21 {
  fill: #ff8b20; }

#icon-brand .path22 {
  fill: #ff8b20; }

#icon-brand .path23 {
  fill: #ff8b20; }

#icon-brand .path24 {
  fill: #ff8b20; }

#icon-brand .path25 {
  fill: #ff8b20; }

#icon-brand .path26 {
  fill: #ff8b20; }

#icon-brand .path27 {
  fill: #ff8b20; }

#icon-brand .path28 {
  fill: #ff8b20; }

#icon-brand .path29 {
  fill: #e32323; }

#icon-brand .path30 {
  fill: #a21f26; }

#icon-brand .path31 {
  fill: #e32323; }

#icon-brand .path32 {
  fill: #a21f26; }

#icon-brand .path33 {
  fill: #e32323; }

#icon-brand .path34 {
  fill: #ff8b20; }

#icon-LOGOFPT .path1 {
  fill: #05509f; }

#icon-LOGOFPT .path2 {
  fill: #05509f; }

#icon-LOGOFPT .path3 {
  fill: #f27123; }

#icon-LOGOFPT .path4 {
  fill: #50b748; }

#icon-LOGOFPT .path5 {
  fill: white; }

#icon-LOGOFPT .path6 {
  fill: white; }

#icon-LOGOFPT .path7 {
  fill: white; }

#icon-arrow_huongdan .path1 {
  fill: currentcolor; }

#icon-arrow_huongdan .path2 {
  fill: currentcolor; }

#icon-cacbuocmuahang {
  width: 32px;
  height: 32px; }

#icon-cacbuocmuahang .path1 {
  fill: #ea5a63; }

#icon-cacbuocmuahang .path2 {
  fill: white; }

#icon-cacbuocmuahang .path3 {
  fill: white; }

#icon-cacbuocmuahang .path4 {
  fill: white; }

#icon-cacbuocmuahang .path5 {
  fill: white; }

#icon-cacbuocmuahang .path6 {
  fill: white; }

#icon-cacbuocmuahang .path7 {
  fill: white; }

#icon-cacbuocmuahang .path8 {
  fill: white; }

#icon-cacbuocmuahang .path9 {
  fill: white; }

#icon-cachthucthanhtoan .path1 {
  fill: #567dbe; }

#icon-cachthucthanhtoan .path2 {
  fill: white; }

#icon-cachthucthanhtoan .path3 {
  fill: white; }

#icon-phuongthucvanchueyn .path1 {
  fill: #6bbe54; }

#icon-phuongthucvanchueyn .path2 {
  fill: white; }

#icon-phuongthucvanchueyn .path3 {
  fill: white; }

#icon-phuongthucvanchueyn .path4 {
  fill: white; }

#icon-phuongthucvanchueyn .path5 {
  fill: white; }

#icon-phuongthucvanchueyn .path6 {
  fill: white; }

#icon-shop .path1 {
  fill: currentcolor; }

#icon-arrow .path1 {
  fill: currentcolor; }

#icon-location .path1 {
  fill: currentcolor; }

#icon-buy .path1 {
  fill: currentcolor; }

#icon-car .path1 {
  fill: #21a249; }

#icon-car .path2 {
  fill: #21a249; }

#icon-car .path3 {
  fill: #21a249; }

#icon-car .path4 {
  fill: #21a249; }

#icon-car .path5 {
  fill: white; }

#icon-khiensen .path1 {
  fill: #e5101d; }

#icon-khiensen .path2 {
  fill: white; }

#icon-khiensen .path3 {
  fill: white; }

#icon-khiensen .path4 {
  fill: white; }

#icon-khiensen .path5 {
  fill: white; }

#icon-khiensen .path6 {
  fill: white; }

#icon-khiensen .path7 {
  fill: white; }

#icon-diemthuong .path1 {
  fill: currentcolor; }

#icon-diemthuong .path2 {
  fill: currentcolor; }

#icon-diemthuong .path3 {
  fill: currentcolor; }

#icon-diemthuong .path4 {
  fill: currentcolor; }

#icon-diemthuong .path5 {
  fill: currentcolor; }

#icon-diemthuong .path6 {
  fill: currentcolor; }

.icon-top {
  width: 32px;
  height: 32px; }

#icon-top .path1 {
  fill: white; }

#icon-top .path2 {
  fill: #e5101d; }

#icon-top .path3 {
  fill: #e5101d; }

#icon-luotmua .path1 {
  fill: currentcolor; }

#icon-diemtichluy .path1 {
  fill: currentcolor; }

#icon-diemtichluy .path2 {
  fill: currentcolor; }

#icon-diemtichluy .path3 {
  fill: currentcolor; }

#icon-diemtichluy .path4 {
  fill: currentcolor; }

#icon-diemtichluy .path5 {
  fill: currentcolor; }

#icon-diemtichluy .path6 {
  fill: currentcolor; }

#icon-a_remove .path1 {
  fill: currentcolor; }

#icon-a_add .path1 {
  fill: currentcolor; }

#icon-a_add .path2 {
  fill: currentcolor; }

#icon-iconwatch-oject .icon-clock {
  fill: currentColor; }

.fill-color1 {
  fill: #0555a5; }

.fill-color2 {
  fill: #e41e26; }

.fill-color3 {
  fill: #666; }

.fill-color4 {
  fill: #fff; }

#icon-khonggiansong-bg .fill-color3 {
  fill: #fff; }

#icon-khonggiansong-bg .fill-color2 {
  fill: #a9b900; }

#icon-dodien-bg .fill-color3 {
  fill: #fff; }

#icon-dodien-bg .fill-color1 {
  fill: #009893; }

#icon-car-white .fill-color1 {
  fill: #21a249; }

#icon-car-white .fill-color2 {
  fill: #fff; }

#icon-question .path1 {
  fill: currentcolor; }

#icon-category-toy .fill-color4 {
  fill: #45c2c7; }

#icon-category-toy .fill-color5 {
  fill: #fff; }

#icon-toy-stoke-grey .fill-color1 {
  fill: #757575; }

/*#icon-phukiencongnghe2_stroke_quickmenu .fill-color1,*/
#icon-phukiencongnghe3_quickmenu .fill-color6 {
  fill: #ee4054; }

#icon-phukiencongnghe3_quickmenu.fill-color7 {
  fill: #fff; }

#icon-giay1_stroke_quickmenu .fill-color1 {
  fill: #757575; }

#icon-giay1_stroke_quickmenu .fill-color3 {
  fill: #999; }

#icon-giaydep .fill-color2 {
  fill: #f3b516; }

#icon-giaydep .fill-color4 {
  fill: #fff; }

#icon-tuixach2_stroke_quickmenu .path1, #icon-tuixach2_stroke_quickmenu .path2, #icon-tuixach2_stroke_quickmenu .path3, #icon-tuixach2_stroke_quickmenu .path4, #icon-tuixach2_stroke_quickmenu .path5 {
  fill: #757575; }

#icon-event1 .path1, #icon-event1 .path2, #icon-event1 .path3, #icon-event1 .path4, #icon-event1 .path5, #icon-event1 .path6, #icon-event1 .path7, #icon-event1 .path8, #icon-event1 .path9 {
  fill: #fff; }

#icon-groceries-icon {
  fill: #36c890; }

#icon-TTNC_icon {
  fill: #af1900; }

.sub-bar-top .sub-bar-top--child {
  padding: 0; }
.sub-bar-top .sub-bar-top--child li {
  line-height: 24px;
  padding: 4px 4px 4px 20px;
  border-bottom: 1px dotted #ddd; }
.sub-bar-top .sub-bar-top--child li:before {
  content: '›';
  color: #666;
  padding-right: 5px;
  font-size: 14px; }
.sub-bar-top .sub-bar-top--child li:hover {
  background-color: #fff; }

.re-policy {
  color: #000 !important; }
.re-policy span {
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
  display: inline-block; }
.re-policy .cont {
  margin-bottom: 10px; }
.re-policy .apple, .re-policy .adriod {
  background: url(//static.scdn.vn/images/ecom/ic-sprites.png) no-repeat 0 -350px;
  width: 97px;
  height: 30px;
  display: inline-block; }
.re-policy .adriod {
  background: url(//static.scdn.vn/images/ecom/ic-sprites.png) no-repeat -122px -350px;
  margin-left: 10px; }
.re-policy .banking-list {
  width: 175px;
  height: 65px;
  cursor: default;
  display: inline-block;
  background: url(//static.scdn.vn/images/ecom/ic-sprites.png) 0 -149px no-repeat; }
.re-policy .transport {
  width: 240px;
  height: 55px;
  margin-right: 0;
  cursor: default;
  display: inline-block;
  background: url(//static.scdn.vn/images/ecom/ic-sprites.png) 0 -240px no-repeat; }
.re-policy .bct {
  border-top: 1px solid #E7E7E7;
  padding-top: 10px; }

#footer .title-stm {
  position: relative;
  display: inline-block; }
#footer .title-stm svg {
  vertical-align: middle; }

.re-info {
  padding-top: 15px;
  padding-bottom: 20px; }
.re-info .re-info--logo {
  float: left;
  margin-right: 10px; }
.re-info .re-info--logo svg {
  width: 100px;
  height: 100px; }
.re-info .re-info--inner {
  float: left; }
.re-info .re-info--inner .for-m {
  display: none;
  margin: 5px 0;
  font-size: 14px; }
.re-info .re-info--inner > span {
  font-weight: bold;
  color: #333; }
.re-info .re-info--inner .email-contact a {
  text-decoration: underline; }
